@section header
    {
    <link rel="stylesheet" href="/css/main.css" media="all" />
}

<blockquote class="layui-elem-quote explain">

    <p>
        <span style="color: #1E9FFF;">無權訪問請求的模組，請用系統管理員賬號授權后訪問</span>
    </p>
  
</blockquote>

